div.jumbotron {
    /* background-image: url('https://via.placeholder.com/200');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background: center / 360px repeat url('/assets/images/bg-grid.png');
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}