:root {
  --nav-height: 100px;
  --footer-height: 100px;
}

#container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: var(--nav-height) 1fr var(--footer-height);
}

nav {
  padding: 12px;
}

#main-wrapper {
  max-width: 50%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

button.game-button {
  width: 200px;
  height: 200px;
  border-image:
    url("/assets/images/border-2-01.png")
    27 /
    36px /
    0px
    round;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

button.game-button:hover {
  transform: translateY(-16px) scale(1.05);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  animation-name: wobble;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

button.game-button > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shake-animation {
  animation-name: screen-shake;
  animation-duration: 400ms;
  animation-iteration-count: 1;
}

@keyframes wobble {
  0% { transform: rotate(0); }
  25% { transform: rotate(-4deg); }
  75% { transform: rotate(4deg); }
  100% { transform: rotate(0); }
}

@keyframes screen-shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-20px); }
  50% { transform: translateX(16px); }
  75% {transform: translateX(-8px); }
  100% { transform: translateX(0) }
}