:root {
  --footer-height: 100px;
  --sidebar-width: 200px;
}

body {
  box-sizing: border-box;
  font-family: Neebo, sans-serif;
}

#page-container {
  width: calc(100% - 200px);
  padding-left: 200px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-wrapper {
  width: 100%;
  box-sizing: border-box;
  height: auto;

  background-color: black;
  border-radius: 60px;
  margin: 42px;
  padding: 42px;
}

#game-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.text-headers {
  color: white;
  font-size: 3em;
  font-weight: bold;
}

h1.text-headers {
  margin-bottom: 20px;
}

h2.text-headers {
  margin-top: 42px;
  font-size: 2em;
}

.score-wrapper {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid white;
}

.faint { opacity: 0.5; }

.score {
  font-size: 4em;
  font-weight: bold;
}

.shake-animation {
  animation-name: screen-shake;
  animation-duration: 400ms;
  animation-iteration-count: 1;
}

@keyframes wobble {
  0% { transform: rotate(0); }
  25% { transform: rotate(-4deg); }
  75% { transform: rotate(4deg); }
  100% { transform: rotate(0); }
}

@keyframes screen-shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-20px); }
  50% { transform: translateX(16px); }
  75% {transform: translateX(-8px); }
  100% { transform: translateX(0) }
}